# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/dist
assets/js/dist

.github/workflows/build.yml

# devcontainer details
.devcontainer

# poetry
pyproject.toml
poetry.lock

# Others
.DS_Store
.pre-commit-config.yaml
